<ion-view title="TravelBratts">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="height: 100px;"></div>
    <div style="line-height: 250px; border: 1px solid rgb(238, 238, 238); border-radius: 3px; text-align: center; width: 100%; height: auto; background-color: rgb(255, 255, 255);">
      <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
    </div>
    <div class="button-bar">
      <a href="#/app/search" class="button button-balanced button-outline button-block  icon-left ion-android-search">SEARCH</a>
      <a href="#/app/nearby" class="button button-balanced button-outline button-block  icon-left ion-compass">NEARBY</a>
    </div>
  </ion-content>
</ion-view>